@model BWR.Application.Dtos.Transaction.TransactionDto
@{
    ViewBag.Title = "DileverdTransaction";
    Layout = "~/Views/Shared/_BlankPageLayout.cshtml";
}

@{
    var client = Model.ReciverClient;
}
@{
    var clientAttachment = ViewBag.ClientAttachment;
}

<h2>تسليم الحوالة </h2>


<table class="table table-striped table-bordered table-hover dt-responsive" id="table" cellspacing="0" >
    <thead>

        <tr>

            <th>
                اسم المرسل
            </th>
            <th>
                الشركة المرسلة
            </th>
            <th>
                اسم المستفيد
            </th>
            <th>
                العنوان
            </th>
            <th>
                رقم هاتف المستقبل
            </th>
            <th>
                الملاحظات
            </th>
            <th>
                المبلغ
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.SenderClient.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ReceiverCompany.Name)
            </td>
            <td>
                @Html.DisplayFor(model => model.ReciverClient.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ReciverClient.Address)
            </td>
            <td>
                <ul>
                    @foreach (var item in Model.ReciverClient.ClientPhones)
                    {
                        <li>
                            @item.Phone
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(model => model.Note)
            </td>
            <td>
                @{
                    var amount = Model.Amount;
                    Write(amount.ToString("N2"));
                }
            </td>
        </tr>
    </tbody>
</table>


<a class="btn red btn-outline sbold" data-toggle="modal" href="#basic"> المرفقات</a>
<form method="post" action="/BwTransactions/DileverTransaction">
    <input type="hidden" name="transactionId" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">تسليم</button>
</form>


<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">المرفقات</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        @Html.DropDownList("Attachments", null, "اختر مرفق", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-lg-6">
                        <select class="form-control" name="cameraSource" id="cameraSource"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <video autoplay id="video" style="width:250px; height:250px;"></video>
                    </div>
                    <div class="col-lg-6">
                        <canvas id="Canvas" style="display:none"></canvas>
                        <img id="photo" style="width:250px; height:250px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="col-lg-6">
                            <button class="btn btn-success" id="capture">التقاط</button>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-primary" onclick="Save(@client.Id)">حفظ</button>
                        </div>
                    </div>
                </div>
                <br />
                <div id="ClientImages">
                    @foreach (var item in clientAttachment)
                    {
                        <div class="row">
                            <div class="col-lg-4">
                                <h4>@item.BwAttatchmant.Name</h4>
                            </div>
                            <div class="col-lg-4">
                                <img src="@item.Path" style="width:200px;height:200px" />
                            </div>

                            <div class="col-lg-4">

                                <button class="btn btn-danger" style="margin-right:67px;" onclick="deleteAttachment(this,@item.Id)">حذف</button>
                            </div>
                        </div>
                        <br />
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section ScriptPath{

    <script src="~/Scripts/GlopalScript.js"></script>
    <script>
    const cmeraSourceSelect = document.getElementsByName('cameraSource');
    let currentStream;
    const senderNormalClientVideo = document.getElementById('video');
    const senderNormalClientCanvas = document.getElementById('Canvas');
    const senderNormalClientImg = document.getElementById('photo');
    const ClientImages = document.getElementById('ClientImages');

    $(document).ready(() => {
        navigator.mediaDevices.enumerateDevices().then(gotDevices);
    });
    $('#capture').click(() => {
        draw();
    });

    function draw() {
        senderNormalClientCanvas.width = senderNormalClientVideo.videoWidth;
        senderNormalClientCanvas.height = senderNormalClientVideo.videoHeight;
        senderNormalClientCanvas.getContext('2d').drawImage(senderNormalClientVideo, 0, 0);
        // Other browsers will fall back to image/png
        senderNormalClientImg.src = senderNormalClientCanvas.toDataURL('image/webp');
        senderNormalClientImg.dataset.target = undefined;
    }

    function gotDevices(mediaDevices) {


        cmeraSourceSelect.innerHTML = '';
        var mainOption = document.createElement('option');
        mainOption.innerHTML = "الرجاء اختيار الكميرا";
        mainOption.value = " ";
        cmeraSourceSelect.forEach(element => element.appendChild(mainOption));
        let count = 1;
        mediaDevices.forEach(mediaDevice => {
            if (mediaDevice.kind === 'videoinput') {
                const option = document.createElement('option');
                option.value = mediaDevice.deviceId;
                const label = mediaDevice.label || `Camera ${count++}`;
                const textNode = document.createTextNode(label);
                option.appendChild(textNode);

                cmeraSourceSelect.forEach(s => s.appendChild(option));
            }
        });
    }


    $('#cameraSource').change(function () {
        if (typeof currentStream !== 'undefined') {
            stopMediaTracks(currentStream);
        }
        const videoConstraints = {};
        if (cmeraSourceSelect.value == "") {
            videoConstraints.facingMode = 'environment';
        } else {

            videoConstraints.deviceId = { exact: $(this).val() };
        }
        const constraints = {
            video: videoConstraints,
            audio: false
        };

        navigator.mediaDevices
            .getUserMedia(constraints)
            .then(stream => {
                currentStream = stream;
                senderNormalClientVideo.srcObject = stream;
                return navigator.mediaDevices.enumerateDevices();
            })
            .catch(error => {
                console.error(error);
            });
    });
    async function uploadImage() {
        var formData = new FormData();
        var imgeFile = document.getElementById('photo');

        var file;
        await fetch(imgeFile.src)
            .then(res => res.blob())
            .then(blob => {
                file = new File([blob], 'dot.png', blob);
            });
        return file;
    }
    async function Save(clientId) {

        console.log(clientId);


        var file = await uploadImage();
        var formData = new FormData();
        formData.append('clientId', clientId);
        formData.append('AttachmentId', $('#Attachments').val());
        formData.append("image", file);
        await $.ajax({
            url: "/BwTransactions/AddAttachment",
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                var row = document.createElement('div');
                row.setAttribute('class', 'row');
                ClientImages.appendChild(row);

                var div = document.createElement('div');
                div.setAttribute('class', 'col-lg-4');
                var h4 = document.createElement("h4");
                h4.textContent = $("#Attachments :selected").text();
                div.appendChild(h4);
                row.appendChild(div);

                var div = document.createElement('div');
                div.setAttribute('class', 'col-lg-4');
                var image = document.createElement('img');
                image.src = data.Path;
                image.style = "width:200px;height:200px";
                div.appendChild(image);
                row.appendChild(div);

                var div = document.createElement('div');
                div.setAttribute('class', 'col-lg-4');
                var button = document.createElement('button');
                button.setAttribute('class', 'btn btn-danger');
                button.innerText = 'حذف';
                button.setAttribute('onclick', 'deleteAttachment(this,' + data.Id + ');');
                div.appendChild(button);
                row.appendChild(div);

            }
        });

    }
    function stopMediaTracks(stream) {
        stream.getTracks().forEach(track => {
            track.stop();
        });
    }

    function deleteAttachment(element, Id) {
        $.post(
            '@Url.Action("DeleteAddAttachment", "Client")', {
                id: Id
            }, function () {

                GitDivWithRowClassRow(element).remove();
            }
        )

    }
    </script>

}