
@{

    Layout = "";
}

<!--added margin-bottom-->
<div class="portlet-title" style="margin-bottom: 4px;">
    
</div>

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <button type="button" class="btn btn-success btn-sm btn-icon-only btn-circle" data-toggle="modal" data-url="@Url.Action("Create","Country")" id="btnCreateCountry">
                <i id="Addbtn" class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
        <div class="tools"> </div>
    </div>
    <div class="portlet-body">

        <table class="table table-striped table-bordered table-hover dt-responsive"
               id="countryDataTable"></table>

    </div>
</div>


<div class="modal fade" id="createCountryModal" tabindex="-1" role="dialog" aria-labelledby="CreateCountryModal" aria-hidden="true" data-backdrop="static">
    <div id="createCountryContainer">

    </div>
</div>

<div class="modal fade" id="editCountryModal" tabindex="-1" role="dialog" aria-labelledby="EditCountryModal" aria-hidden="true" data-backdrop="static">
    <div id="editCountryContainer">
    </div>
</div>

<div class="modal fade" id="detailsCountryModal" tabindex="-1" role="dialog" aria-labelledby="DetailsCountryModal" aria-hidden="true" data-backdrop="static">
    <div id="detailsCountryContainer">
    </div>
</div>

<div class="modal fade" id="deleteCountryModal" tabindex="-1" role="dialog" aria-labelledby="DeleteCountryModal" aria-hidden="true" data-backdrop="static">
    <div id="deleteCountryContainer">
    </div>
</div>


<script type="text/javascript">
    var $countryDataTable;
    $(function () {

        $countryDataTable = {
                dt: null,
                init: function () {
                    dt = $('#countryDataTable').DataTable({
                        'language': {
                            'sProcessing': 'جارٍ التحميل...',
                            'sLengthMenu': ' _MENU_ أظهر',
                            'sZeroRecords': 'لم يعثر على أية سجلات',
                            'sInfo': 'إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل',
                            'sInfoEmpty': 'يعرض 0 إلى 0 من أصل 0 سجل',
                            'sInfoFiltered': '(منتقاة من مجموع _MAX_ مُدخل)',
                            'sInfoPostFix': '',
                            'sSearch': '<b>بحث</b>',
                            'sUrl': '',
                            'oPaginate': {
                                'sFirst': 'الأول',
                                'sPrevious': 'السابق',
                                'sNext': 'التالي',
                                "sLast": "الأخير"
                            }
                        },

                        'serverSide': true,
                        'processing': true,
                        'ajax': {
                            'url': '@Url.Action("Get","Country")',
                            method: 'POST'

                        },
                        'columns': [
                            { 'title': 'اسم البلد', 'data': 'Name', "width": "35%",'searchable': true },
                            {
                                'title': 'فعالة',
                                'data': "IsEnabled",
                                'width': "35%",
                                render: function (data, type, row) {
                                    if (type === 'display') {
                                        return getCheckBox(data);
                                    }
                                    return data;
                                },
                                className: "dt-body-center"
                            },
                            {
                                'title': 'خيارات',
                                'data': 'Id',
                                'searchable': false,
                                'sortable': false,
                                'render': function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit","Country")?id=' + data + '" class="btn btn-defult editCountry"><span class="glyphicon glyphicon-edit"></span>  تعديل</a>'
                                        + '<a href="@Url.Action("Detail", "Country")?id=' + data + '" class="btn btn-primary detailsCountry"><span class="glyphicon glyphicon-eye-open"></span>  عرض</a>'
                                        + '<a href="@Url.Action("Delete", "Country")?id=' + data + '" class="btn btn-danger deleteCountry"><span class="glyphicon glyphicon-trash"></span>  حذف</a>';
                                }
                            }
                        ],
                        
                        'lengthMenu': [10, 25, 50, 100],
                    });
                },

            refresh: function () {

                dt.ajax.reload();
                }
            }

        $countryDataTable.init();




        $("#btnCreateCountry").on('click', function () {

            var url = $(this).data('url');

            $.get(url, function (data) {
                $('#createCountryContainer').html(data);

                $('#createCountryModal').modal('show');
            });

        });

        $('#countryDataTable').on('click', '.editCountry', function (event) {

            event.preventDefault();

            var url = $(this).attr('href');

            $.get(url, function (data) {
                $('#editCountryContainer').html(data);

                $('#editCountryModal').modal('show');
            });

        });



        $('#countryDataTable').on('click', '.detailsCountry', function (event) {

            event.preventDefault();

            var url = $(this).attr('href');

            $.get(url, function (data) {
                $('#detailsCountryContainer').html(data);

                $('#detailsCountryModal').modal('show');
            });

        });

        $('#countryDataTable').on('click', '.deleteCountry', function (event) {

                event.preventDefault();

                var url = $(this).attr('href');

                $.get(url, function (data) {
                    $('#deleteCountryContainer').html(data);

                    $('#deleteCountryModal').modal('show');
                });

        });


        $('#detailsCountryModal').on('hide.bs.modal', function (event) {

            $('#detailsCountryContainer').html('');

        });
    });

    function getCheckBox(data) {
        var ele ='<div class="md-checkbox has-success">';
        if(data)
            ele += '<input type = "checkbox" id = "IsEnabledChk" class="md-check" checked="checked" disabled="true" />';
        else
            ele += '<input type = "checkbox" id = "IsEnabledChk" class="md-check" disabled="true" />';
        ele +='<label for="IsEnabledChk">';
        ele+='<span class="inc"></span>';
        ele += '<span class="check"></span>';
        ele+='<span class="box"></span>';
        ele+='</label>';
        ele += '</div >';
        return ele;
    }

    //function createCountrySuccess(data) {

    //    if (data != 'success') {
    //        $('#createCountryContainer').html(data);
    //        return;
    //    }

    //    $('#createCountryModal').modal('hide');
    //    $('#createCountryContainer').html('');

    //    $countryDataTable.refresh();
    //    toastr.success('تم الحفظ بنجاح')
    //}

    function editCountrySuccess(data) {
        
        if (data != 'success') {
            $('#editCountryContainer').html(data);
            return;
        }
        $('#editCountryModal').modal('hide');
        $('#editCountryContainer').html('');

        $countryDataTable.refresh();
        toastr.success('تم التعديل بنجاح')
    }

    function deleteCountrySuccess(data) {

        if (data != 'success') {
            $('#deleteCountryContainer').html(data);
            return;
        }
        $('#deleteCountryModal').modal('hide');
        $('#deleteCountryContainer').html('');

        $countryDataTable.refresh();
        toastr.success('تم الحذف بنجاح')
    }

</script>


