@using PagedList;
@using PagedList.Mvc;
@using System.Globalization;
@model IPagedList<BWR.Application.Dtos.Transaction.OuterTransaction.OuterTransactionDto>

@{
    ViewBag.Title = "OuterIndex";
    Layout = "~/Views/Shared/_BlankPageLayout.cshtml";
}

<h2>كشف الحوالات الصادرة </h2>

<table class="table">
    <thead>
        <tr>
            <td>
                مبلغ الحوالة
            </td>
            <td>
                العملة
            </td>
            <td>
                الرقم
            </td>
            <td>
                التاريخ
            </td>
            <td>
                اسم المرسل
            </td>
            <td>
                اسم المستفيد
            </td>
            <td>
                الوجهة
            </td>
            <td>
                الشركة
            </td>
            <td>
                الدفع
            </td>
            <td>
                عرض
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FormatingAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coin.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoenyActions.FirstOrDefault().Id)
                </td>
                <td>

                    @if (item.Created != null)
                    {
                        Write(item.Created.Value.ToString("dd/MM/yyyy", new CultureInfo("ar-AE")));
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderClient.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReciverClient.FullName)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderCompany.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfPay.ToString())
                </td>
                <td>
                    <a href="@Url.Action("OuterTransactionDetails","OuterTransaction")?transactionId=@item.Id" class="btn btn-primary">عرض </a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model,Page=>Url.Action("Index","OuterTransaction",
    new {
        Page ,
        typeOfPay  = Request.QueryString["typeOfPay"],
        coinId  = Request.QueryString["coinId"],
        countryId  =Request.QueryString["countryId"],
        receiverClientId = Request.QueryString["receiverClientId"],
        senderClientId  = Request.QueryString["senderClientId"],
        from = Request.QueryString["from"],
        to = Request.QueryString["to"]}),

    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal=true})
