@model BWR.Application.Dtos.Transaction.OuterTransaction.OuterTransactionDto
@using BWR.Application.Dtos.Client
@using BWR.Application.Dtos.Company.CompanyCashFlow
@using BWR.Application.Extensions


@{
    ClientCashFlowDto clientCashFlow = null;
    if (ViewData["ClientCashFlow"] != null)
    {
        clientCashFlow = (ClientCashFlowDto)ViewData["ClientCashFlow"];
    }

    var mainCompanyCashFlow = (CompanyCashFlowDto)ViewData["MainCompanyCashFlow"];
    var secoundCompanyCashFlow = (CompanyCashFlowDto)ViewData["SecoundCompanyCashFlow"];
}

@{
    ViewBag.Title = "OuterTransactionDetials";
    Layout = "~/Views/Shared/_BlankPageLayout.cshtml";
}


<h2 style="display:inline;margin-left:10px">حوالة صادرة</h2>


<div class="row">
    <div class="col-lg-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> المعلومات الأساسية </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-lg-4">
                        @Html.DropDownList("CountryId", null, " الوجهة", htmlAttributes: new { @class = "form-control", @id = "countryId", @disabled = "disabled" })
                    </div>
                    <div class="col-lg-4">
                        @Html.DropDownList("CoinId", null, " العملة", htmlAttributes: new { @class = "form-control", @id = "CoinId", @disabled = "disabled" })
                    </div>
                    <div class="col-lg-4">
                        @*<select class="form-control" id="sendByCompanySelect"></select>*@
                        @Html.DropDownList("Compnayies", null, "الشركات", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h6>
                            رصيد الشركة السابق:
                            <span class="label label-primary" id="senderCompanyBlance">
                                @{
                                decimal companyBalcne = (decimal)(mainCompanyCashFlow.Total - (Model.Amount + Model.SenderCompanyComission));
                                Write(companyBalcne.CurrencyFormat());
                                }
                            </span>

                            <span class="label label-success">
                                @{Write(companyBalcne.CurrencyBalnceFormat());


                                }
                            </span>
                        </h6>
                        <h4></h4>
                    </div>
                    <div class="col-lg-6">
                        <h6>
                            رصيد الشركة الحالي:
                            <span class="label label-primary" id="senderCompanyCurrentBalance">
                                @{
                                var companyCurrentBalce = mainCompanyCashFlow.Total;
                                Write(companyCurrentBalce.CurrencyFormat());
                                }
                            </span>
                            <span class="label label-success">
                                @{
                                Write(companyCurrentBalce.CurrencyBalnceFormat());
                                }
                            </span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-user font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> معلومات المرسل </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-lg-12">
                        @Html.DropDownList("TypeOfPayId", null, htmlAttributes: new { @class = "form-control", @id = "TypeOfPay", @disabled = "disabled" })
                    </div>
                </div>
                <div id="normalClient" @if (Model.TypeOfPayId == 1) { Write("style=display:block"); } else { Write("style=display:none"); }>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-6">
                            <select class="form-control" id="clientSelect" disabled="disabled">
                                <option value="" selected>المرسل</option>
                                @{
                                    var clients = (IList<ClientDto>)ViewData["Clients"];
                                    ClientDto client = null;
                                    foreach (var item in clients)
                                    {
                                        if (item.Id == Model.SenderClientId)
                                        {
                                            client = item;
                                        }
                                        <option value="@item.Id" @if (item.Id == Model.SenderClientId) { Write("selected"); }> @item.FullName </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-lg-4">
                            @if (client != null)
                            {
                                <input type="text" class="form-control" placeholder="رقم الهاتف" id="sendrPhone" readonly value="@client.ClientPhones.FirstOrDefault()?.Phone" />
                            }
                            else
                            {
                                <input type="text" class="form-control" placeholder="رقم الهاتف" id="sendrPhone" readonly value="" />
                            }
                        </div>
                        <div class="col-lg-1">
                            <div class="caption font-red-sunglo">
                                <a class="btn btn-sm green dropdown-toggle" data-toggle="modal"
                                   href="#SenderNormalClientModel">
                                    المرفق
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="companySenderDiv" @if (Model.TypeOfPayId == 3) { Write("style=display:block"); } else { Write("style=display:none"); }>
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-lg-12">
                            @Html.DropDownList("reciverCompany", null, "الشركات", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" id="clientSenderByCompant" disabled>
                                <option selected value="">المرسل</option>
                                @{ ClientDto sender = null;}
                                @foreach (var item in clients)
                                {
                                    if (item.Id == Model.SenderClientId)
                                    {
                                        sender = item;
                                        <option value="@item.Id" selected> @item.FullName </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id"> @item.FullName </option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="col-lg-4">
                            @{ var lastSenderByCompanyPhoneNumber = sender == null ? "" : sender.ClientPhones.FirstOrDefault()?.Phone;}
                            <input type="text" class="form-control" placeholder="رقم الهاتف" id="senderPhoneByCompany" value="@lastSenderByCompanyPhoneNumber" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            الرصيد السابق للشركة:
                            <span id="reciverCompanyBalance" class="label label-primary">
                                @{
                                    if (secoundCompanyCashFlow != null)
                                    {
                                        var secounCompanyBalnce = (decimal)(secoundCompanyCashFlow.Total + Math.Abs(secoundCompanyCashFlow.Amount));
                                        Write(secounCompanyBalnce.CurrencyFormat());
                                    }
                                }
                            </span>
                            <span class="label label-success">
                                @{
                                    if (secoundCompanyCashFlow != null)
                                    {
                                        var secounCompanyBalnce = (decimal)(secoundCompanyCashFlow.Total + Math.Abs(secoundCompanyCashFlow.Amount));
                                        Write(secounCompanyBalnce.CurrencyBalnceFormat());
                                    }
                                }
                            </span>
                        </div>
                        <div class="col-lg-6">
                            الرصيد الحالي للشركة:
                            <span id="reciverCompanyCurrentBalance" class="label label-primary">
                                @{
                                    if (secoundCompanyCashFlow != null)
                                    {
                                        Write(secoundCompanyCashFlow.Total.CurrencyFormat());
                                    }
                                }
                            </span>
                            <span class="label label-success">
                                @if (secoundCompanyCashFlow != null)
                                {
                                    Write(secoundCompanyCashFlow.Total.CurrencyBalnceFormat());
                                }
                            </span>
                        </div>
                    </div>
                </div>
                <div id="AgentClient" @if (Model.TypeOfPayId == 2) { Write("style=display:block"); } else { Write("style=display:none"); }>
                    <div class="row">
                        <div class="col-lg-12">
                            <select class="form-control" id="agentSelect" disabled="disabled">
                                <option selected value="" disabled>العملاء</option>
                                @{
                                    var agents = (List<ClientDto>)ViewData["Agents"];
                                    foreach (var item in agents)
                                    {

                                        <option value="@item.Id" @if (!item.IsEnabled) { Write("disabled"); } @if (item.Id == Model.SenderClientId) { Write("selected"); }>
                                            @item.FullName;
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-lg-6">
                            <!--<label>-->
                            الرصيد السابق: <span class="label label-info" id="agentBalnce">
                                @{
                                    if (clientCashFlow != null)
                                    {
                                        var clientBalnce = clientCashFlow.Total + (Model.Amount + Model.OurComission - Model.RecivingAmount ?? 0);
                                        clientBalnce -= Model.SenderCleirntCommission ?? 0;
                                        Write(clientBalnce.CurrencyFormat());
                                    }
                                }
                            </span>
                            <span class="label label-success">
                                @{
                                    if (clientCashFlow != null)
                                    {
                                        var clientBalnce = clientCashFlow.Total + (Model.Amount + Model.OurComission - Model.RecivingAmount ?? 0);
                                        Write(clientBalnce.CurrencyBalnceFormat());
                                    }
                                }
                            </span>
                            <!--</label>-->
                        </div>
                        <div class="col-lg-6">
                            <!--<label>-->
                            الرصيد المتبقي: <span class="label label-info" id="agentCurrentBalance">
                                @{
                                    if (clientCashFlow != null)
                                    {
                                        var clientCurrentBalcne = clientCashFlow.Total;
                                        Write(clientCurrentBalcne.CurrencyFormat());
                                    }
                                }
                            </span>
                            <span class=" label label-success">
                                @{
                                    if (clientCashFlow != null)
                                    {
                                        var clientCurrentBalcne = clientCashFlow.Total;
                                        Write(clientCurrentBalcne.CurrencyBalnceFormat());
                                    }
                                }
                            </span>
                            <!--</label>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-settings font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> معلومات إضافية </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>سبب الحوالة:</label>
                            <input type="text" class="form-control" id="reason" readonly value="@Model.Reason" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>ملاحظات</label>
                        <textarea class="form-control" id="note" readonly>{@Model.Note}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="fa fa-money font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> المعلومات المالية  </span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="مبلغ الحوالة" onkeypress="validation(this, event); " onkeyup="FormaittingNumber(this);" onchange="CalcComission(this.value);" id="transactionAmount" style="margin-bottom:10px" readonly value="@Model.Amount.CurrencyFormat(false)" />
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="العمولة" onkeypress="validation(this,event);" onkeyup="FormaittingNumber(this);" id="comission" onkeydown="CallcRequierdMoney();" onchange="CallcRequierdMoney();" style="margin-bottom:10px" readonly value="@Model.OurComission.CurrencyFormat(false)" />
                    </div>



                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="عمولة الشركة" onkeypress="validation(this, event, true);" onkeyup="FormaittingNumber(this);" id="companycomission" style="margin-bottom:10px" readonly value="@Model.SenderCompanyComission.CurrencyFormat(false)" />
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <!--<label>-->
                        المبلغ المطلوب:<span id="requerdMoney"></span>
                        <!--</label>-->
                    </div>

                    <div id="AgentMoney" @if (Model.TypeOfPayId==2) { Write("style=diplay:block"); } else {Write("style=display:none"); }>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="المبلغ الواصل" onkeypress="validation(this,event);" onkeyup="FormaittingNumber(this);" id="RecivingAmount" value="@Model.RecivingAmount.CurrencyFormat(false)" readonly="readonly" />
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="عمولة العميل" onkeypress="validation(this,event);" onkeyup="FormaittingNumber(this);" id="AgetComission" value="@Model.SenderCleirntCommission.CurrencyFormat(false)" readonly="readonly" />
                        </div>
                    </div>
                    <div id="compayMoney" @if (Model.TypeOfPayId==3) { Write("style=diplay:block"); } else {Write("style=display:none"); }>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="عمولة الشركة الثانية" onkeypress="validation(this, event);" id="secoundCompanyCommission" value="@Model.ReceiverCompanyComission.CurrencyFormat(false)" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-user font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> معلومات المستقبل </span>
                </div>
            </div>

            <div class="portlet-body form">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-lg-4">
                        <select class="form-control" id="reciverClientSelect" disabled="disabled">
                            <option value="">المستقبل</option>
                            @{
                            foreach (var item in clients)
                            {
                            if (item.Id == Model.ReciverClientId)
                            {
                            <option value="@item.Id" selected> @item.FullName </option>
                            }
                            else
                            {
                            <option value="@item.Id" selected> @item.FullName </option>
                            }

                            }

                            }
                        </select>

                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="العنوان" id="reciverAddress" readonly value="@Model.ReciverClient.Address" />
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="رقم الهاتف" id="reciverPhone" readonly value="@Model.ReciverClient.ClientPhones.FirstOrDefault()?.Phone" />
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <input type="button" id="submit" value="السماح بالتعديل" class="btn btn-primary" style="display:none" />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade draggable-modal ui-draggable" id="SenderNormalClientModel" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        @Html.DropDownList("Attachment", null, "نوع المرفق", htmlAttributes: new { @class = "form-control" })
</div>
<div class="col-lg-6">
    <select class="form-control" name="cameraSource" id="normalClientCmeraSource"></select>
</div>
</div>
<div class="row">
    <div class="col-lg-6">
        <video autoplay id="senderNormalClientVideo" style="width:250px; height:250px;"></video>
    </div>
    <div class="col-lg-6">
        <canvas id="senderNormalClientCanvas" style="display:none"></canvas>
        <img id="senderNormalClientImg" style="width:250px; height:250px;" />
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <button class="btn btn-primary" id="caputerSenderNormalClient">إلتقاط</button>
    </div>
    <div class="col-lg-4">
    </div>
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn dark btn-outline" data-dismiss="modal" id="senderNormalClientModelClose">إلغاء</button>
    <a href="#SenderNormalClientModel" data-toggle="modal" class="btn btn-primary">حفظ</a>
</div>
</div>
<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
