
@model BWR.Application.Dtos.Branch.BranchCommissionUpdateDto
@{
    /**/

    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">تعديل عمولة </h4>
        </div>
        @using (Ajax.BeginForm("Edit", "BranchCommission", null, new AjaxOptions { HttpMethod = "Post" }, new { @class = "form-horizontal", role = "form", id = "addBranchCommissionForm" }))
        {
            <div class="modal-body ">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label class="control-label col-md-2" for="CountryId">اسم البلد <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CountryId, new List<SelectListItem>(), new { @class = "form-control", id = "e-countryId" })

                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="CoinId">اسم العملة <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CoinId, new List<SelectListItem>(), new { @class = "form-control", id = "e-coinId" })

                            @Html.ValidationMessageFor(model => model.CoinId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="StartRange">من <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartRange, new { htmlAttributes = new { @class = "form-control", type = "number", id = "e-startRange" } })

                            @Html.ValidationMessageFor(model => model.StartRange, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="EndRange">إلى <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndRange, new { htmlAttributes = new { @class = "form-control", type = "number", id = "e-endRange" } })

                            @Html.ValidationMessageFor(model => model.EndRange, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="CommissionType">اسم البلد <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.DropDownList("CommissionType", new List<SelectListItem>(), new { @class = "form-control", id = "e-commissionType" })

                            @Html.ValidationMessage("CommissionType", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" id="a-form-group-cost">
                        <label class="control-label col-md-2" for="Cost">القيمة <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", type = "number", id = "e-cost" } })

                            @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" id="a-form-group-ratio" style="display:none;">
                        <label class="control-label col-md-2" for="Ratio">القيمة <span class="text-danger">*</span></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ratio, new { htmlAttributes = new { @class = "form-control", type = "number", id = "e-ratio" } })

                            @Html.ValidationMessageFor(model => model.Ratio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <button id="btnAddBranchCommission" type="button" class="btn btn-primary">حفظ <span class="glyphicon glyphicon-save"></span></button>
                        <button type="button" class="btn btn-sm btn-default" onclick="resetEditBranchCommissionContainer()" data-dismiss="modal">إغلاق <span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>

    var branchCommissionId;
    $(function () {
        branchCommissionId = '@Model.Id';

        initialCommissionTypes();
        initialCoins();
        initialCountries();
        var $form = $("#addBranchCommissionForm");
        $.validator.unobtrusive.parse($form);

        $('#btnAddBranchCommission').on("click", function (event) {
            if ($form.valid()) {
                var dto = {
                    Id: branchCommissionId,
                    StartRange: $('#e-startRange').val(),
                    EndRange: $('#e-endRange').val(),
                    Cost: $('#e-cost').val(),
                    Ratio: $('#e-ratio').val(),
                    IsEnabled: true,
                    CoinId: getSelectedCoin(),
                    CountryId: getSelectedCountry()
                };

                var commissionType = getSelectedCommissionType();

                if (commissionType == "Ratio" && dto.Ratio == 0) {

                    $('[data-valmsg-for="Ratio"]').html("");
                    $('[data-valmsg-for="Ratio"]').html("القيمة مطلوبة");

                } else if (commissionType == "Cost" && dto.Cost == 0) {

                    $('[data-valmsg-for="Cost"]').html("");
                    $('[data-valmsg-for="Cost"]').html("القيمة مطلوبة");

                } else {

                    $.ajax({
                    url: '@Url.Action("Edit", "BranchCommission")',
                    type: 'POST',
                    data: { 'dto': dto, 'commissionType': commissionType },
                    dataType: "json",
                    cache: false,
                    success: function (data) {

                        if (data.Success == true) {

                            resetEditBranchCommissionContainer();

                            $branchCommissionDataTable.refresh();
                            toastr.success('تم الحفظ بنجاح');
                        }
                        else {

                            toastr.error(data.Message);
                        }

                    },
                    error: function () { toastr.error("خدث خطأ ما أثناء الإضافة"); }
                });
                }



            }


        });
    });

    //===Initial Functions===//
    function initialCountries() {
         $.get('@Url.Action("GetAllWithProvinces", "Country")', function (data) {

             var countries = data.Countries;

             var option = '<option index="0"></option>';
             $('#e-countryId').append(option);

            for (var i = 0; i < countries.length; i++) {
                var option = '<option value="' + countries[i].Id + '">' + countries[i].Name + '</option>';
                $('#e-countryId').append(option);
            }

             $('#e-countryId').select2({ width: null, placeholder: "اختر منطقة" });

             //$("#a-client-countryId").select2("val", "");
             $('#e-countryId').val('@Model.CountryId').trigger('change')

        });
    }

    function initialCoins() {

        $.get('@Url.Action("GetCoinsForDropdown","Coin")', { term: "" }, function (data) {

            var coins = data.Coins;
            var option = '<option index="0"></option>';
            $('#e-coinId').append(option);

            for (var i = 0; i < coins.length; i++) {
                var option = '<option value="' + coins[i].Id + '">' + coins[i].Name + '</option>';
                $('#e-coinId').append(option);
            }

            $('#e-coinId').select2({ width: null, placeholder: "اختر عملة" });

            $('#e-coinId').val('@Model.CoinId').trigger('change');

        });
    }

    function initialCommissionTypes() {
        var option = '<option index="0"></option>';

        $('#e-commissionType').append('<option value="Cost">عمولة</option>');
        $('#e-commissionType').append('<option value="Ratio">نسبة</option>');

        $('#e-commissionType').select2({ width: null, placeholder: "النوع" });

        var cost = "@Model.Cost";
        
        if(cost != 0){

            $('#e-commissionType').val('Cost').trigger('change');

            $('#a-form-group-ratio').css("display", "none");
            $('#a-form-group-cost').css("display", "block");
            
        }else {
            $('#e-commissionType').val('Ratio').trigger('change');

            $('#a-form-group-ratio').css("display", "block");
            $('#a-form-group-cost').css("display", "none");
        }

        $('#e-commissionType').on('select2:select',
            function (e) {
                var value = e.params.data.id;
                if (value == "Ratio") {
                    $('#a-form-group-ratio').css("display", "block");
                    $('#a-form-group-cost').css("display", "none");
                } else {
                    $('#a-form-group-ratio').css("display", "none");
                    $('#a-form-group-cost').css("display", "block");
                }
            });

    }
    //===Get Functions===//
    function getSelectedCountry() {

        var data = $('#e-countryId').select2('data');
        return data[0].id;
    }

    function getSelectedCoin() {

        var data = $('#e-coinId').select2('data');
        return data[0].id;
    }

    function getSelectedCommissionType() {
        var data = $('#e-commissionType').select2('data');
        return data[0].id;
    }

    function getIsEnableValue() {
        var divChecked = $('[name="IsEnabled"]').parent();
        if (divChecked.hasClass('checked'))
            return true;
        else
            return false;
    }

    function resetEditBranchCommissionContainer() {

        $('#editBranchCommissionModal').modal('hide');
        $('#editBranchCommissionContainer').html('');
    }

</script>

